# env
venv/
.env

# logs and other files
logs/
minio/
.DS_Store
notes.txt

# dbt
tasks/transform_dbt/profiles.yml
tasks/transform_dbt/.user.yml
tasks/transform_dbt/target/
tasks/transform_dbt/dbt_packages/
tasks/transform_dbt/logs/

# pycache
dags/__pycache__/
tasks/__pycache__/
tasks/utils/__pycache__/